.Rproj.user
.Rhistory
.RData
.Ruserdata

*.asc
*.asci
*.ascii
*.tif
*.tiff
*.prj
*.jpeg
*.JPEG
*.jpg
*.JPG
*.png
*.PNG
*.csv
*.xls
*.xlsx
*.gri
*.grd
*.out
*.Phillips
*.txt
*.html
*.lambdas
*.dbf
*.sbn
*.sbx
*.shp
*.shx

virtual_species_niche/
virtual_species_range/
samples/
climate_data/
models/

!assets/fig01_artificial_sps_large.jpg